<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activeFileBackup" type="ActiveFileBackup.Configuration.Config, ActiveFileBackup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <activeFileBackup>
    <backup path="" username="" password=""/>
    <numberOfBackupCopies value="1"/>
    <backupPeriod daily="true" weekly="true" monthly="true" yearly="true"/>
    <folderList>
      <clear/>
      <!-- <add path="" recursive="false" /> -->
    </folderList>
  </activeFileBackup>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
